@page "/faq"
@model MotelManagement.Pages.FaqModel
@{
}
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Những câu hỏi thường gặp !</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="" style="width:90%; margin:0 auto; padding:30px">
        <div class="text-center" style="border-bottom:1px solid; margin-bottom:30px; margin-top:20px">
            <p class="" style="font-weight:bold; font-size:25px">Quý khách muốn đặt câu hỏi về vấn đề gì ?</p>
            <a href="#chiTiet"><p>Chi Tiết Đặt Chỗ</p></a>
            <a href="#huyBo"><p>Huỷ Bỏ Đặt Chỗ</p></a>
            <a href="#thayDoi"><p>Thay Đổi Đặt Chỗ</p></a>
            <br>
        </div>


        <div id="chiTiet" style="border-bottom:1px solid; margin-bottom:30px; margin-top:20px">
            <p class="text-center" style="font-weight:bold; font-size:25px">Về Chi Tiết Đặt Chỗ</p>
            <ul>
                <li style ="font-weight:bold">
                    Làm thế nào tôi có được thêm thông tin về phòng hoặc cơ sở vật chất của chỗ nghỉ?
                </listyle>
            </ul>
            <p>Quý khách có thể tìm thấy chi tiết về chỗ nghỉ trong thư điện tử xác nhận của mình hoặc trên trang chi tiết chỗ nghỉ. Về bất cứ điều gì khác, quý khách cũng có thể liên hệ trực tiếp với chỗ nghỉ.</p>
            <ul>
                <li style="font-weight:bold">
                    Tôi có thể kiểm tra chi tiết và trạng thái đặt phòng của mình ở đâu?
                </li>
            </ul>
            <p>Quý khách luôn có thể xem chi tiết và trạng thái đặt phòng trực tuyến bằng cách đăng nhập và chọn "Đơn đặt phòng của tôi" từ lệnh đơn tài khoản. Nếu quý khách không biết chi tiết đăng nhập của mình thì quý khách có thể theo liên kết "Đơn đặt phòng của tôi" trong thư điện tử xác nhận của mình.</p>
            <ul>
                <li style="font-weight:bold">
                    Khách sạn cung cấp đưa đón sân bay không?
                </li>
            </ul>
            <p>Khi tìm kiếm quý khách có thể chọn 'Đưa đón sân bay/khách sạn' trong phần cơ sở vật chất để giúp quý khách tìm kiếm. Khách sạn cũng sẽ cung cấp thông tin này trong phần "Thông tin bổ ích" trên trang khách sạn được hiển thị trên trang web. Một số phòng đi kèm đưa đón sân bay miễn phí. Nếu thuộc trường hợp này thì nó sẽ được quy định trong loại phòng hoặc sẽ được lưu ý trong số tổng cộng trên phiếu đặt phòng. Đưa đón sân bay thường phải trả phí. Nếu quý khách muốn thu xếp đưa đón sân bay thì vui lòng liên hệ trực tiếp khách sạn.</p>
            <ul>
                <li style="font-weight:bold">
                    Giá phòng gồm cả bữa sáng chưa?
                </li>
            </ul>
            <p>Nếu gồm cả bữa sáng thì giá sẽ hiển thị "Gồm Cả Bữa Sáng" bên dưới loại phòng. Nếu nó không được đề cập thì khách sạn không bao gồm bữa sáng với ưu đãi phòng này.</p>
            <ul>
                <li style="font-weight:bold">
                    Tôi chưa nhận được xác nhận đặt chỗ và không thể xác định vị trí đơn đặt chỗ của mình trực tuyến.
                </li>
            </ul>
            <p>Trong hầu hết các trường hợp, quý khách sẽ nhận được xác nhận đặt chỗ (tệp PDF) qua thư điện tử trong vòng 30 phút sau khi hoàn tất việc đặt chỗ. Nếu quý khách vẫn chưa nhận được nó sau thời gian đó thì vui lòng kiểm tra thư rác và/hoặc thư mục thư rác. Quý khách cũng có thể xem chi tiết và trạng thái đặt chỗ trực tuyến bằng cách đăng nhập và chọn "Đơn đặt chỗ của tôi" từ lệnh đơn tài khoản. Nếu quý khách vẫn không thể xác định vị trí đơn đặt chỗ của mình và chưa nhận được xác nhận đặt chỗ sau 24 giờ thì vui lòng liên hệ với chúng tôi.</p>
            <ul>
                <li style="font-weight:bold">
                    Làm sao tôi có thể gửi xác nhận đặt phòng tới địa chỉ thư điện tử khác với địa chỉ tôi đã sử dụng để đặt phòng?
                </li>
            </ul>
            <p>Quý khách sẽ nhận được một thư điện tử xác nhận đặt phòng tới địa chỉ thư điện tử mà quý khách đã cung cấp trong quá trình đặt phòng. Ngoài ra, quý khách có thể tìm được các đơn đặt phòng sắp tới, đã hủy bỏ và đã hoàn thành trên trang "[Đơn đặt chỗ của tôi]"</p>
        </div>
        <div id="huyBo" style="border-bottom:1px solid; margin-bottom:30px; margin-top:20px">
            <p class="text-center" style="font-weight:bold; font-size:25px">Về Huỷ Bỏ Đặt Chỗ</p>
            <ul>
                <li style="font-weight:bold">
                    Làm thế nào tôi có thể hủy phòng của mình?
                </li>
            </ul>
            <p>Quý khách có thể hủy phòng trực tuyến trên website Nhà Trọ Xanh Lá. Mọi phí hủy do chỗ nghỉ quyết định và được liệt kê trong chính sách hủy của quý khách.</p>
            <ul>
                <li style="font-weight:bold">
                    Tôi sẽ bị tính phí nếu tôi hủy phòng của mình chứ?
                </li>
            </ul>
            <p>Nếu quý khách có đơn đặt phòng miễn phí hủy thì quý khách sẽ không phải trả phí hủy. Nếu đơn đặt phòng của quý khách không còn được miễn phí hủy hoặc không được hoàn trả thì quý khách có thể gánh chịu phí hủy. Mọi phí hủy cho việc đặt phòng đều do chỗ nghỉ quyết định.</p>
            <ul>
                <li style="font-weight:bold">
                    Làm sao tôi biết việc đặt phòng của mình đã bị hủy bỏ hãy chưa?
                </li>
            </ul>
            <p>Sau khi quý khách hủy phòng với chúng tôi, quý khách sẽ nhận được thư điện tử xác nhận việc hủy. Hãy kiểm tra hộp thư đến và thư mục rác của quý khách.</p>
            <ul>
                <li style="font-weight:bold">
                    Tôi có thể tìm chính sách hủy ở đâu?
                </li>
            </ul>
            <p>Khi tìm phòng, quý khách sẽ có thể thấy các điều kiện đặt phòng và chính sách hủy cùng với thông tin khác về phòng. Quý khách cũng có thể tìm thông tin này trên chứng từ đặt phòng của mình.</p>
            <ul>
                <li style="font-weight:bold">
                    Bao lâu tôi sẽ nhận lại tiền của mình?
                </li>
            </ul>
            <p>Số tiền hoàn lại, nếu có, sẽ được xử lý ngay lập tức. Kể từ ngày xử lý/ngày hoàn tiền, ngân hàng có thể mất đến 30 ngày làm việc để hoàn trả khoản tiền này hoặc cho đến chu kỳ thanh toán tiếp theo của quý khách. Khoản hoàn trả sẽ được ngân hàng chuyển đổi.</p>
        </div>
        <div id="thayDoi" style="margin-bottom:30px; margin-top:20px">
            <p class="text-center" style="font-weight:bold; font-size:25px">Về Thay Đổi Đặt Chỗ</p>
            <ul>
                <li style="font-weight:bold">
                    Tôi muốn thay đổi ngày đặt phòng của mình. Làm sao tôi có thể làm vậy?
                </li>
            </ul>
            <p>Nhà Trọ Xanh Lá hiện cung cấp cho quý khách lựa chọn tự phục vụ. Hãy chọn đơn đặt phòng và chọn ngày mới.</p>
            <ul>
                <li style="font-weight:bold">
                    Tôi muốn thay đổi tên của khách chính. Làm sao tôi có thể làm vậy?
                </li>
            </ul>
            <p>Nhà Trọ Xanh Lá hiện cung cấp cho quý khách lựa chọn tự phục vụ. Hãy chọn đơn đặt phòng và cập nhật tên khách.</p>
            <ul>
                <li style="font-weight:bold">
                    Làm thế nào để tôi kéo dài thời gian ở?
                </li>
            </ul>
            <p>Nhà Trọ Xanh Lá hiện cung cấp cho quý khách lựa chọn tự phục vụ. Hãy chọn đơn đặt phòng và chọn ngày mới. Xin lưu ý rằng không phải tất cả các đơn đặt phòng sẽ cho phép thay đổi ngày đặt phòng.</p>
            <ul>
                <li style="font-weight:bold">
                    Làm thế nào để tôi rút ngắn thời gian ở?
                </li>
            </ul>
            <p>Nhà Trọ Xanh Lá hiện cung cấp cho quý khách lựa chọn tự phục vụ. Hãy chọn đơn đặt phòng và chọn ngày mới. Xin lưu ý rằng không phải tất cả các đơn đặt phòng sẽ cho phép thay đổi ngày đặt phòng.</p>
        </div>
    </div>
</div>
