@page "/user/forgetpassword"
@model MotelManagement.Pages.ForgetPasswordModel
@{
}


<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Quên mật khẩu </h1>
            </div>
        </div>
    </div>
</div>
<div class="register-area" style="background-color: rgb(249, 249, 249);">
    <div class="container">
        <div class="" style="width:50%; margin:0 auto">
            <div class="box-for overflow">
                <div class="col-md-12 col-xs-12 login-blocks">
                    <div class="text-center">
                        <h2> Gửi mã đăng nhập </h2>
                    </div>

                    <form method="post" asp-page-handler="ForgetPassword">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email">
                        </div>
                        <div class="text-center" style="margin-top: 40px">
                            <button type="submit" class="btn btn-default" onclick="alert('Mật khẩu đã được gửi về email, vui lòng kiểm tra!')">Gửi mã</button>
                        </div>
                        <div class="">
                            <button type="button" class="btn btn-link" style="margin: 0 auto; width:100%" onclick="location.href = '/user/login'">Trở về trang đăng nhập</button>
                            <button type="button" class="btn btn-link" style="margin: 0 auto; width:100%" onclick="location.href = '/user/register'">Tạo tài khoản mới</button>
                        </div>

                    </form>
                    <br>
                </div>

            </div>
        </div>
    </div>
</div>