@page "/recruit"
@model MotelManagement.Pages.RecruitModel
@{
}
<style>
    .imgZoom {
        box-sizing: border-box;
        transition: transform .2s;
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
    }

        .imgZoom:hover {
            -ms-transform: scale(1.2); /* IE 9 */
            -webkit-transform: scale(1.2); /* Safari 3-8 */
            transform: scale(1.2);
        }
</style>

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Thông tin tuyển dụng </h1>
            </div>
        </div>
    </div>
</div>


<div class="container" style="padding:25px">

    <div class="" style="width:95%; margin:0 auto">

        <p class="text-center" style="font-weight:bold; font-size:25px">Nhà Trọ Xanh Lá đi tìm ứng viên!</p>
        <br>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="blog-content">
                <div class="list-article-content blog-posts">

                    <!-- Begin: Nội dung blog -->
                    <article class="blog-loop">
                        <div class="blog-post row" style="padding:30px">

                            <div class="col-md-4 col-xs-12 col-sm-12">
                                <a href="#" title="Tuyển dụng 23 việc làm Nhân Viên Chăm Sóc Khách Hàng [Update 04/01/2024]" rel="nofollow">
                                    <img class="imgZoom" src="~/Assets/User/assets/img/cskh.png" alt="Tuyển dụng 23 việc làm Nhân Viên Chăm Sóc Khách Hàng [Update 04/01/2024]">
                                </a>
                            </div>

                            <div class="col-md-8 col-xs-12 col-sm-12" style="padding:30px">
                                <p style="font-weight:bold; font-size:18px" class="blog-post-title">
                                    <a href="#" title="Tuyển dụng 23 việc làm Nhân Viên Chăm Sóc Khách Hàng [Update 04/01/2024]">Tuyển dụng 23 việc làm Nhân Viên Chăm Sóc Khách Hàng<br>[Update 04/01/2024]</a>
                                </p>
                                <ul>
                                    <li style="list-style-type:none; font-weight:bold">Mô tả công việc</li>
                                    <li>Tìm kiếm và hỗ trợ tư vấn cho học sinh, sinh viên về các chương trình và dịch vụ học thuật của công ty</li>
                                    <li>Tiếp nhận và xử lý khiếu nại của khách hàng nếu có</li>
                                    <li>Các công việc khác phát sinh được giao...</li>
                                    <li style="list-style-type:none"><a href="#">=> Đọc thêm</a></li>
                                </ul>

                            </div>
                        </div>
                    </article>

                    <article class="blog-loop">
                        <div class="blog-post row" style="padding:30px">

                            <div class="col-md-4 col-xs-12 col-sm-12">
                                <a href="#" class="blog-post-thumbnail" title="Tuyển dụng 15 nhân viên Content Marketing [Update 04/01/2024]" rel="nofollow">
                                    <img class="imgZoom" src="~/Assets/User/assets/img/marketing.png" alt="Tuyển dụng 15 nhân viên Content Marketing [Update 04/01/2024]">
                                </a>
                            </div>

                            <div class="col-md-8 col-xs-12 col-sm-12" style="padding:30px">
                                <p style="font-weight:bold; font-size:18px" class="blog-post-title">
                                    <a href="#" title="Tuyển dụng 15 nhân viên Content Marketing [Update 04/01/2024]">Tuyển dụng 15 nhân viên Content Marketing <br>[Update 04/01/2024]</a>
                                </p>
                                <ul>
                                    <li style="list-style-type:none; font-weight:bold">Mô tả công việc</li>
                                    <li>Định hướng, phát triển các concept nội dung mới lạ, có giá trị và tính thẩm mỹ</li>
                                    <li>Xây dựng nội dung các tài liệu, ấn phẩm tiêu chuẩn thương hiệu và Marketing trên các kênh online & offline</li>
                                    <li>Viết bài PR theo yêu cầu của quản lý và tuân thủ các công thức, quy tắc mà SEO đặt ra</li>
                                    <li>Lên kế hoạch content hàng tuần phù hợp với kế hoạch truyền thông của công ty...</li>
                                    <li style="list-style-type:none"><a href="#">=> Đọc thêm</a></li>
                                </ul>
                            </div>
                        </div>
                    </article>

                    <article class="blog-loop">
                        <div class="blog-post row" style="padding:30px">

                            <div class="col-md-4 col-xs-12 col-sm-12">
                                <a href="#" class="blog-post-thumbnail" title="Tuyển dụng 26 nhân viên IT Support/ IT Helpdesk [Update 07/01/2024]" rel="nofollow">
                                    <img class="imgZoom" src="~/Assets/User/assets/img/it.png" alt="Tuyển dụng 26 nhân viên IT Support/ IT Helpdesk [Update 07/01/2024]">
                                </a>
                            </div>

                            <div class="col-md-8 col-xs-12 col-sm-12" style="padding:30px">
                                <p style="font-weight:bold; font-size:18px" class="blog-post-title">
                                    <a href="#" title="Tuyển dụng 26 nhân viên IT Support/ IT Helpdesk [Update 07/01/2024]">Tuyển dụng 26 nhân viên IT Support/ IT Helpdesk <br>[Update 07/01/2024]</a>
                                </p>
                                <ul>
                                    <li style="list-style-type:none; font-weight:bold">Mô tả công việc</li>
                                    <li>Hỗ trợ toàn bộ hệ thống gồm 100 máy tính và 10 máy in</li>
                                    <li>Cài đặt và cấu hình phần cứng, phần mềm, mạng máy tính, line điện thoại, ứng dụng cho các end users</li>
                                    <li>Cập nhật và chỉnh sửa nội dung hình ảnh trên web của công ty khi có yêu cầu</li>
                                    <li>Đề xuất cải tiến chức năng và giao diện web</li>
                                    <li>Lắp ráp, cài đặt các thiết bị máy tính, máy in, camera...</li>
                                    <li style="list-style-type:none"><a href="#">=> Đọc thêm</a></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>