@page "/terms"
@model MotelManagement.Pages.TermsModel
@{
}
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Điều khoản sử dụng </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <div class="" style="width:95%; margin:0 auto;">
        <div style="border:1px solid;border-radius:5px; margin-bottom:30px; margin-top:20px; padding:40px">
            <p class="text-center" style="font-weight:bold; font-size:25px">ĐIỀU KHOẢN SỬ DỤNG NỀN TẢNG NHÀ TRỌ XANH LÁ VÀ ĐẶT CHỖ</p>
            <br>
            <p>
                Phiên bản 1.0, có hiệu lực từ ngày 1 tháng 1 năm 2024
                <br><br>
                Chào mừng đến với Điều khoản Sử dụng Nền tảng Nhà Trọ Xanh Lá ("Điều khoản"). Các Điều khoản này áp dụng cho việc quý khách sử dụng Nền tảng Nhà Trọ Xanh Lá và các dịch vụ được cung cấp qua đó. Việc quý khách sử dụng Nền tảng Nhà Trọ Xanh Lá cho thấy quý khách chấp nhận Điều khoản, gồm cả các chính sách được kết hợp với Điều khoản bằng tham chiếu.
                <br>
            </p>
            <p style="font-weight:bold; font-size:22px">Đường liên kết nhanh</p>
            <ul>
                <li>
                    <a href="#"><p>Phần A: Điều khoản Nền tảng</p></a>
                </li>
                <li>
                    <a href="#"><p>Phần B: Điều khoản Đặt chỗ và Thanh toán Chung</p></a>
                </li>
                <li>
                    <a href="#"><p>Phần C: Cơ sở lưu trú</p></a>
                </li>
                <li>
                    <a href="#"><p>Phần D: Các chương trình khác</p></a>
                </li>
                <li>
                    <a href="#"><p>Phần E: Điều khoản chung</p></a>
                </li>
                <li>
                    <a href="#"><p>Phần F: Điều khoản đặc trưng quốc gia</p></a>
                </li>
                <li>
                    <a href="#"><p>Phần G: Cách Chúng Tôi Làm Việc</p></a>
                </li>
            </ul>
            
        </div>
    </div>
</div>
